body{
  font-family: Montserrat;
}
h1{
  font-family: 'Montserrat-Black',sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 800;
}
.container-fluid{
  padding: 3% 12%;
}
#title{
  /* color for h1 title and for other inside id=title section */
  color: white;
  background-color: #ff4c68;
}

/* NAVIGATION BAR */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light",sans-serif;
}

/* DOWNLOAD BUTTONS */
.download-button{
  margin:5% 3% 5% 0;
}
/* IPHONE IMAGE */
.iphone-image{
  width: 55%;
  transform: rotate(25deg);
}

/* FEATURES */
#features{
  margin:100px 75px 0;
}
.feature-h3{
  font-family:"Montserrat-Bold",sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.feature-p{
  color:#8f8f8f;
  text-align: center;
}
.feature-logo{
  color: #ef8172;
  width: 100%;
}
.feature-logo:hover{
  color: #ff4c68;
}
